* {
  font-family: Tahoma;
}

.containter, h1, p { 
  text-align: center;
}

.box {
  background-color: #FAEBC1;
  width:  7%;
  margin: auto;
  color: #2B201F;
  border-radius: 10px;
}

.btn {
  width: 10%;
}

#increase-btn {
  background-color: #2B201F;
}

#decrease-btn {
  background-color: #7A8472;
}

#reset-btn {
  background-color: #8E1E1A;
}

#jumbo {
  background-color: #FAECC1;
}
